.page {
	width: 100%;
	display: none;
}

.model {
	background: rgba(0,0,0,0.8);
	display: none;
	position: fixed;
	top: 25%;
	left: 20%;
	right: 20%;
	border-radius: 10px;
}

.model .break {
	height: 1px;
	background: #CCC;
	margin: 0 18px;
}

.show{
	display: inline;
}
